<!DOCTYPE html>
<!--=== Coding by CodingLab | www.codinglabweb.com === -->
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!----======== CSS ======== -->
  <link rel="stylesheet" href="QnA.css">

  <!----===== Iconscout CSS ===== -->
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

  <title>Responsive Regisration Form </title>
</head>

<body>
  <div class="container">
    <header>Level 1 - Answer all Questions</header>

    <form action="#">
      <div class="form first">
        <div class="details personal">
          <!-- <span class="title">Personal Details</span> -->

          <div class="fields">
            <div class="input-field">
              <label>1. Spot the odd one out - FIRST, SECOND, THIRD, FORTH, FIFTH, SIXTH, SEVENTH, EIGHTH</label>
              <div>
                <span><input type="radio" name="q1" id="q1o1"><label for="q1o1">0</label></span>
                <span><input type="radio" name="q1" id="q1o2"><label for="q1o2">1</label></span>
                <span><input type="radio" name="q1" id="q1o3"><label for="q1o3">19</label></span>
                <span><input type="radio" name="q1" id="q1o4"><label for="q1o4">20</label></span>
              </div>
            </div>

            <div class="input-field">
              <label>2. Engineering is a,</label>
              <div>
                <span><input type="checkbox" name="q2" id="q2o1"><label for="q2o1">Noun</label></span>
                <span><input type="checkbox" name="q2" id="q2o2"><label for="q2o2">Verb</label></span>
                <span><input type="checkbox" name="q2" id="q2o3"><label for="q2o3">Professional Degree</label></span>
                <span><input type="checkbox" name="q2" id="q2o4"><label for="q2o4">Application of Science</label></span>
              </div>
            </div>

            <div class="input-field">
              <label>3. What is Full Form of "GOOGLE"?</label>
              <input type="text" placeholder="Enter answer" required>
            </div>


            <div class="buttons">
              <button class="sumbit">
                <span class="btnText">Submit</span>
                <i class="uil uil-navigator"></i>
              </button>
            </div>
          </div>
        </div>
    </form>
  </div>

  <script>
    const form = document.querySelector("form"),
      nextBtn = form.querySelector(".nextBtn"),
      backBtn = form.querySelector(".backBtn"),
      allInput = form.querySelectorAll(".first input");


    nextBtn.addEventListener("click", () => {
      allInput.forEach(input => {
        if (input.value != "") {
          form.classList.add('secActive');
        } else {
          form.classList.remove('secActive');
        }
      })
    })

    backBtn.addEventListener("click", () => form.classList.remove('secActive'));

  </script>
</body>

</html>