<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Level 1</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'CommentLine.css' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <form method="post">{% csrf_token %}</form>
  <div class="form">
    <div class="form-toggle"></div>
    <div class="form-panel one">
      <div class="form-header">
        <h1>Find the Password?</h1>
      </div>
      <div class="form-content">
        <div class="form-group">
          <label for="password">Password</label>
          <input id="password" type="text" name="password" required="required" autofocus autocomplete="off">
        </div>
        <div class="form-group">
          <label id="commen">Any Guesses?</label>
        </div>
        <div class="form-group">
          <button onclick="check()">Log In</button>
        </div>
      </div>
    </div>
  </div>

  <script>
    function check() {
      var password = document.getElementById("password").value;

      if (password == '{{pass}}') {
        document.forms[0].submit();
      }
      else {
        var form = document.forms[0];
        document.getElementById("commen").innerHTML = "Wrong Password, Open Script in Inspect Tool";
      }
    }
  </script>

</body>

</html>